Business/Web References/BizData/BizService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://qjDataAccess.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://qjDataAccess.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://qjDataAccess.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetNews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newsId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ntype" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewsListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newsId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isVal" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="isTop" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="ntype" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateNewsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newsId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteNewsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newsId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="isVal" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="isTop" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="ntype" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopLatestImage">
        <s:complexType />
      </s:element>
      <s:element name="GetTopLatestImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopLatestImageResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopImagesOfCatalog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentCataId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopImagesOfCatalogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopImagesOfCatalogResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageSeq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageSeqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageSeqResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageSeqByServerDate">
        <s:complexType />
      </s:element>
      <s:element name="GetImageSeqByServerDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageSeqByServerDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVideoSeq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVideoSeqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVideoSeqResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSysSeq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preFix" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="flowNumLength" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSysSeqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSysSeqResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddADUsersToDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userListStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddADUsersToDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddADUsersToDBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNewsSoapIn">
    <wsdl:part name="parameters" element="tns:GetNews" />
  </wsdl:message>
  <wsdl:message name="GetNewsSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewsResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewsList" />
  </wsdl:message>
  <wsdl:message name="GetNewsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewsListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateNewsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateNews" />
  </wsdl:message>
  <wsdl:message name="UpdateNewsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateNewsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteNewsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteNews" />
  </wsdl:message>
  <wsdl:message name="DeleteNewsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteNewsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewsSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNews" />
  </wsdl:message>
  <wsdl:message name="CreateNewsSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopLatestImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopLatestImage" />
  </wsdl:message>
  <wsdl:message name="GetTopLatestImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopLatestImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopImagesOfCatalogSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopImagesOfCatalog" />
  </wsdl:message>
  <wsdl:message name="GetTopImagesOfCatalogSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopImagesOfCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="GetSNSoapIn">
    <wsdl:part name="parameters" element="tns:GetSN" />
  </wsdl:message>
  <wsdl:message name="GetSNSoapOut">
    <wsdl:part name="parameters" element="tns:GetSNResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageSeqSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageSeq" />
  </wsdl:message>
  <wsdl:message name="GetImageSeqSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageSeqResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageSeqByServerDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageSeqByServerDate" />
  </wsdl:message>
  <wsdl:message name="GetImageSeqByServerDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageSeqByServerDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetVideoSeqSoapIn">
    <wsdl:part name="parameters" element="tns:GetVideoSeq" />
  </wsdl:message>
  <wsdl:message name="GetVideoSeqSoapOut">
    <wsdl:part name="parameters" element="tns:GetVideoSeqResponse" />
  </wsdl:message>
  <wsdl:message name="GetSysSeqSoapIn">
    <wsdl:part name="parameters" element="tns:GetSysSeq" />
  </wsdl:message>
  <wsdl:message name="GetSysSeqSoapOut">
    <wsdl:part name="parameters" element="tns:GetSysSeqResponse" />
  </wsdl:message>
  <wsdl:message name="AddADUsersToDBSoapIn">
    <wsdl:part name="parameters" element="tns:AddADUsersToDB" />
  </wsdl:message>
  <wsdl:message name="AddADUsersToDBSoapOut">
    <wsdl:part name="parameters" element="tns:AddADUsersToDBResponse" />
  </wsdl:message>
  <wsdl:portType name="BizServiceSoap">
    <wsdl:operation name="GetNews">
      <wsdl:input message="tns:GetNewsSoapIn" />
      <wsdl:output message="tns:GetNewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsList">
      <wsdl:input message="tns:GetNewsListSoapIn" />
      <wsdl:output message="tns:GetNewsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNews">
      <wsdl:input message="tns:UpdateNewsSoapIn" />
      <wsdl:output message="tns:UpdateNewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNews">
      <wsdl:input message="tns:DeleteNewsSoapIn" />
      <wsdl:output message="tns:DeleteNewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNews">
      <wsdl:input message="tns:CreateNewsSoapIn" />
      <wsdl:output message="tns:CreateNewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopLatestImage">
      <wsdl:input message="tns:GetTopLatestImageSoapIn" />
      <wsdl:output message="tns:GetTopLatestImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopImagesOfCatalog">
      <wsdl:input message="tns:GetTopImagesOfCatalogSoapIn" />
      <wsdl:output message="tns:GetTopImagesOfCatalogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSN">
      <wsdl:input message="tns:GetSNSoapIn" />
      <wsdl:output message="tns:GetSNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageSeq">
      <wsdl:input message="tns:GetImageSeqSoapIn" />
      <wsdl:output message="tns:GetImageSeqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageSeqByServerDate">
      <wsdl:input message="tns:GetImageSeqByServerDateSoapIn" />
      <wsdl:output message="tns:GetImageSeqByServerDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVideoSeq">
      <wsdl:input message="tns:GetVideoSeqSoapIn" />
      <wsdl:output message="tns:GetVideoSeqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysSeq">
      <wsdl:input message="tns:GetSysSeqSoapIn" />
      <wsdl:output message="tns:GetSysSeqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddADUsersToDB">
      <wsdl:input message="tns:AddADUsersToDBSoapIn" />
      <wsdl:output message="tns:AddADUsersToDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BizServiceSoap" type="tns:BizServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNews">
      <soap:operation soapAction="http://qjDataAccess.org/GetNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsList">
      <soap:operation soapAction="http://qjDataAccess.org/GetNewsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNews">
      <soap:operation soapAction="http://qjDataAccess.org/UpdateNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNews">
      <soap:operation soapAction="http://qjDataAccess.org/DeleteNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNews">
      <soap:operation soapAction="http://qjDataAccess.org/CreateNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopLatestImage">
      <soap:operation soapAction="http://qjDataAccess.org/GetTopLatestImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopImagesOfCatalog">
      <soap:operation soapAction="http://qjDataAccess.org/GetTopImagesOfCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSN">
      <soap:operation soapAction="http://qjDataAccess.org/GetSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageSeq">
      <soap:operation soapAction="http://qjDataAccess.org/GetImageSeq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageSeqByServerDate">
      <soap:operation soapAction="http://qjDataAccess.org/GetImageSeqByServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoSeq">
      <soap:operation soapAction="http://qjDataAccess.org/GetVideoSeq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysSeq">
      <soap:operation soapAction="http://qjDataAccess.org/GetSysSeq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddADUsersToDB">
      <soap:operation soapAction="http://qjDataAccess.org/AddADUsersToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BizServiceSoap12" type="tns:BizServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNews">
      <soap12:operation soapAction="http://qjDataAccess.org/GetNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsList">
      <soap12:operation soapAction="http://qjDataAccess.org/GetNewsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNews">
      <soap12:operation soapAction="http://qjDataAccess.org/UpdateNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNews">
      <soap12:operation soapAction="http://qjDataAccess.org/DeleteNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNews">
      <soap12:operation soapAction="http://qjDataAccess.org/CreateNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopLatestImage">
      <soap12:operation soapAction="http://qjDataAccess.org/GetTopLatestImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopImagesOfCatalog">
      <soap12:operation soapAction="http://qjDataAccess.org/GetTopImagesOfCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSN">
      <soap12:operation soapAction="http://qjDataAccess.org/GetSN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageSeq">
      <soap12:operation soapAction="http://qjDataAccess.org/GetImageSeq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageSeqByServerDate">
      <soap12:operation soapAction="http://qjDataAccess.org/GetImageSeqByServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoSeq">
      <soap12:operation soapAction="http://qjDataAccess.org/GetVideoSeq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysSeq">
      <soap12:operation soapAction="http://qjDataAccess.org/GetSysSeq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddADUsersToDB">
      <soap12:operation soapAction="http://qjDataAccess.org/AddADUsersToDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizService">
    <wsdl:port name="BizServiceSoap" binding="tns:BizServiceSoap">
      <soap:address location="http://125.208.22.27:8088/DMDataAccess/BizService.asmx" />
    </wsdl:port>
    <wsdl:port name="BizServiceSoap12" binding="tns:BizServiceSoap12">
      <soap12:address location="http://125.208.22.27:8088/DMDataAccess/BizService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>