Business/Web References/CallbackWS/CallbackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://qjDataAccess.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://qjDataAccess.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://qjDataAccess.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="AddToLightBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="imageId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToLightBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddToLightBoxResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddToLightBoxSoapIn">
    <wsdl:part name="parameters" element="tns:AddToLightBox" />
  </wsdl:message>
  <wsdl:message name="AddToLightBoxSoapOut">
    <wsdl:part name="parameters" element="tns:AddToLightBoxResponse" />
  </wsdl:message>
  <wsdl:portType name="CallbackServiceSoap">
    <wsdl:operation name="AddToLightBox">
      <wsdl:input message="tns:AddToLightBoxSoapIn" />
      <wsdl:output message="tns:AddToLightBoxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CallbackServiceSoap" type="tns:CallbackServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddToLightBox">
      <soap:operation soapAction="http://qjDataAccess.org/AddToLightBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CallbackServiceSoap12" type="tns:CallbackServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddToLightBox">
      <soap12:operation soapAction="http://qjDataAccess.org/AddToLightBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallbackService">
    <wsdl:port name="CallbackServiceSoap" binding="tns:CallbackServiceSoap">
      <soap:address location="http://125.208.22.27:8088/DMDataAccess/CallbackService.asmx" />
    </wsdl:port>
    <wsdl:port name="CallbackServiceSoap12" binding="tns:CallbackServiceSoap12">
      <soap12:address location="http://125.208.22.27:8088/DMDataAccess/CallbackService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>